#header{
	min-height: 876px;
	$text-color: #92a7ab;
	$font-text: Tahoma;

.white {
	background: white;
}
.green{
	background:green;
}
.border-left{
	border-left:1px solid #92a7ab;
}
	.info{
		height:50px;
		background: #e5eef0;

			h1{
				color: $text-color;
				font-family: $font-text;
				font-size:15px;
				text-transform:uppercase;
				line-height: 19px;
			}

			i{
				color: $text-color;
				font-size: 13px;
      			padding-top:5px;
      			padding-left: 27	px;
    			line-height: 46px;
			}
			.mobile{
				font-size:13px;
				padding-left: 66px;
			}
	}

	.menu{
		height: 76px;
		nav{
			height: 76px;
			background: #ffffff;
			// elac buna qalib :)
			border: 1px solid white;
		a{
			padding-top: 10px;
			border-radius: 20px;
			text-transform: uppercase;
			height: 38px;
			margin-top: 8px;
		}
			li{
				a{
					margin-top: 18px;
					border-radius: 20px;
					text-transform: uppercase;
				}
				 a:hover{
				background: #29c2e1;
				color: #ffffff;
				}
			}
		}




	}

	.image{
		height: 750px;
		background: url("../../img/background.png");
		background-size: cover;
		color: #ffffff;
		p{
			font-size:15px;
			font-family: Raleway, sans-serif;
			text-transform:uppercase;
		}
		h1{
			font-family: Raleway, sans-serif;
			font-weight:bold;
			font-size:43px;
			padding-top:343px;
			padding-left: 15px;
			text-transform:uppercase;

		}
	}

}
