#startup{
	font-family: 'Karla', sans-serif;
	padding-top:5.3em;
	color:black;
	h2{
		text-transform: uppercase;
		font-family: 'Raleway ExtraBold';
		margin-bottom:0;
		word-spacing: 4px;
           margin-left: 1%;

	}
	h4{
		text-transform: uppercase;
		margin-top: 3px;
         margin-left: 1%;
         margin-bottom:29px;
	}

	p{
    line-height: 24px;
    margin-left: 1%;
    word-spacing: 1px;
    letter-spacing: 0.2px;
	}
	.img
	{  padding-left: 1.1%;
      padding-top: 45px;
     }

    .iconImg{
    	padding-top: 25px;
        padding-left: 10%;
    }
    h3{font-family: 'Raleway Regular';
    	font-size:20px;
    	word-spacing: 3px;
    	margin-left: 6%;
    }
   .col-md-5 .col-md-10 p{
   	font-size:14px;
   	    margin-left: 6%;
   }
    button {
    	border-radius: 16px;
    	padding: 7px;
        margin-top: 40px;
        text-align: center;
        padding: 8px 33px;
	    text-transform: uppercase;
	    // margin-left: 48%;
	    background-color: #29c2e1;
	    border:0;
    }

}

.lineHeight{
	 height: 10px;
}
